<!-- Your main view -->
<div class="view view-camera">
    <!-- Pages -->
    <div class="pages">
        <div class="page" data-page="camera">
            <div class="page-content">
                <div class="content-block-title">Imagem Capturada</div>
                <img src="" alt="" class="viewport100">

            </div>
            <div class="speed-dial">
                <a href="#" class="floating-button">
                    <i class="fa fa-2x fa-plus"></i>
                    <i class="fa fa-2x fa-times"></i>
                </a>
                <div class="speed-dial-buttons">
                    <a href="#">
                        <i class="fa fa-camera" onclick="demoCamera();"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-barcode" onclick="demoCodBarras();"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-crosshairs" onclick="demoGPS();"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>