<!-- Your main view -->
<div class="view view-resumo">
    <!-- Pages -->
    <div class="pages">
        <div class="page" data-page="resumo">
            <div class="page-content">

            </div>
            <script id="dadosResumo" type="text/template7">
                <div class="content-block-title">Lançamentos à receber:</div>
                <div class="content-block color-green">R$ {{receber}}</div>
                <div class="content-block-title">Lançamentos à pagar:</div>
                <div class="content-block color-red">R$ {{pagar}}</div>
                <div class="content-block-title">Saldo:</div>
                <div class="content-block color-blue">R$ {{saldo}}</div>
            </script>
        </div>
    </div>
</div>